  .login-container {
    border: 0px solid #CCD1D1;
    border-radius: 12px;
    box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
    max-width: 70%;
    background: #FFF;
    z-index: 1;
    position: relative;
  }

  .welcome_auth {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .auth_welcome a {
    font-weight: 400;
  }

  .auth_welcome {
    font-weight: 100;
    font-size: 1.5em;
    background: -webkit-linear-gradient(45deg, #a407dd, #f2beff);
    background-size: 100%;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    background-color: black;
    max-width: 170px;
  }

  a.auth_branding_in img {
    width: 60px;
    height: 60px;
    border-radius: 1000px;
  }

  .login-form {
    background: #fbfbfb;
    border-radius: 0px 12px 12px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .login_form_in {
    padding: 4em 1em;
  }

  .login-form h1 {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    color: #969696;
    line-height: 1.5em;
    padding: 1.2em 0px .8em;
  }

  .lni {
    display: inline-block;
    font: normal normal normal 1em/1 'LineIcons';
    /* speak: none; */
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .other_auth_links a:nth-child(2) {
    float: right;
  }

  a {
    text-decoration: none;
    color: #afafaf;
  }

  a:hover {
    text-decoration: none;
    color: #616161;
  }

  .alert-success {
    background-color: rgba(237, 190, 255, 0.33);
    color: #cf07dd;
    font-size: .9em;
  }