.pop-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  /* opacity:0.8; */
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.pop-container {
  position: relative;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.pop {
  color: white;
  text-decoration: none;
}

.pop:hover, .pop:active {
  color: var(--info);
  text-decoration: none;
}
