{% extends "perfume/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'perfume/css/login.css' %}">
{% endblock %}


{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="{% static 'perfume/images/galaxy.png' %}" alt="Reset image" />
            </div>

            <div class="col-sm-6 text-black">

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <div>
                        <h3 class="fw-normal mb-3 pb-3">Password Reset</h3>

                        <div class="alert alert-success">
                            <p>An email has been sent with instructions to reset your password.</p>
                            <p>Please check your inbox (also in spam).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}