{% extends "perfume/base.html" %}
{% load static %}

<!-- link:  https://www.bootdey.com/snippets/view/about-me#html -->

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'perfume/css/profile_detail.css' %}">
{% endblock %}

{% block content %}
<div class="content-section mt-4">
    <section class="section about-section" id="about">
        <div class="container">
            <div class="row align-items-center flex-row">
                <div class="col-lg-6">
                    <div class="about-avatar text-center">
                        <img class="me-3" src="{{ user.profile.image.url }}" alt="{{ user.username }}'s profile image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <div class="about-list">
                            <h3 class="account-heading">{{ user.username }}</h3>
                            <h4 class="border-bottom mb-2 mt-4">My Profile Info</h4>
                            <div class="media d-flex">
                                <label>Email</label>
                                <p>{{ user.email }}</p>
                            </div>
                            <div class="media d-flex">
                                <label>Firstname</label>
                                <p>{{ user.first_name }}</p>
                            </div>
                            <div class="media d-flex">
                                <label>Lastname</label>
                                <p>{{ user.last_name }}</p>
                            </div>
                            <div class="media d-flex">
                                <label>Birthdate</label>
                                <p>{{ user.profile.birthdate }}</p>
                            </div>
                            {# profile.picture #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="text-end mb-3 me-3">
        <a class="btn btn-outline-primary" href="{% url 'profile_edit' %}">Edit</a>
    </div>
</div>
{% endblock %}

